.searchInput{
    padding: 15px;
    margin: auto;
    width: 80vw;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: calc(10px + 1vw);
    background-color: inherit;
    border: 5px solid darkslategray;
    border-radius: 15px;
    align-self: center;
}
